REC_ANALYTICS_CLICKHOUSE_HOST=clickhouse-rec-analytics
REC_ANALYTICS_CLICKHOUSE_USER=clickhouse
REC_ANALYTICS_CLICKHOUSE_PASSWORD=clickhouse
REC_ANALYTICS_CLICKHOUSE_DB=rec_analytics_db
REC_ANALYTICS_CLICKHOUSE_PORT=8123
REC_ANALYTICS_CLICKHOUSE_URL=clickhouse://clickhouse:clickhouse@localhost:8123/rec_analytics_db

KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093,localhost:9094