# For Docker (example)

# DB
DB_URL=jdbc:postgresql://pastach-postgres:5432/PastachDB
DB_USERNAME=postgres
DB_PASSWORD=admin

# JWT
JWT_SECRET=5v8y/B?E(H+MbQeThWmZq4t7w!z$C&F)J@NcRfUjXn2r5u8x/A?D*G-KaPdSgVkY
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000

# Spring Security
SECURITY_USERNAME=admin
SECURITY_PASSWORD=admin